POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ROMA

PER_PAGE=12

# django settings
DEBUG=True
SECRET_KEY="h^-qf&3i8k(1d76um#8t1p&dex100tq4(-hf#&p0ecywi(9c&z"
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DATABASE_URL=postgres://postgres:postgres@psql:5432/ROMA

# create django super user
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=070522

# UNLESS PSQL CHANGE THIS, YOU DON'T HAVE TO TOUCH
# THIS VARIABLE.
# https://hub.docker.com/_/postgres
PGDATA=/var/lib/postgresql/18/docker

# pgadmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin